*{box-sizing: border-box; margin: 0; padding: 0;}
.header{

   height: auto;
   background: red;
   display: flex;
   flex-wrap: warp;
}

.header .part1{

   height: 600px;
   width: 50%;
   background:#fff;
   

}
.header .part1 .cname{

   height: 70px;
   background:#fff;
   padding-left: 50px;
   line-height: 70px;
}
.header .part1 .lable{

   height: 530px;
   background:;
   position: relative;

 
}
.header .part1 .lable .blink1{

   height:530px;
   width: 100%;
   background: #fff;
   position: absolute;
  opacity: 1;
   animation: dp 6s linear infinite;


  
  
}
.header .part1 .lable .blink1 .had{

   height: 200px;
   width: 100%;
   background:;
   
}
.header .part1 .lable .blink1 .had h1{

   margin-left: 50px;
   padding-top: 40px;
   font-size: 40px;
}
.header .part1 .lable .blink1 .pdd{

   height: 50px;
   background:;
   padding-left:50px;
}
.header .part1 .lable .blink1 .three_i{

height: 200px;
width: 100%;
background:;
display: flex;

}
.header .part1 .lable .blink1 .three_i .one_i{

   height: 200px;
   width:30%;
   background:;
   margin: auto;
}
.header .part1 .lable .blink1 .three_i .one_i .food_img{

   height: 150px;
   width: 100%;
   background:;
   padding-top: 20px;

}
.header .part1 .lable .blink1 .three_i .one_i .food_img .ihj{

   height: 120px;
   width: 120px;
   background:url(https://technext.github.io/kusina/images/breakfast-3.jpg);
   background-size: 100% 100%;
   border-radius: 50%;
   margin: auto;
   padding:;
}
.header .part1 .lable .blink1 .three_i .one_i .lable_e{

   height: 50px;
   background:;
}
.header .part1 .lable .blink1 .three_i .two_i{

   height: 200px;
   width:30%;
   background:;
   margin: auto;

}
.header .part1 .lable .blink1 .three_i .two_i .food_img{

   height: 150px;
   width: 100%;
   background:;
   padding-top: 20px;

}
.header .part1 .lable .blink1 .three_i .two_i .food_img .ihj{

   height: 120px;
   width: 120px;
   background:url(https://technext.github.io/kusina/images/breakfast-2.jpg);
   background-size:100% 100%;
  
   border-radius: 50%;
   margin: auto;
}
.header .part1 .lable .blink1 .three_i .two_i .lable_e{

   height: 50px;
   background:;
}
.header .part1 .lable .blink1 .three_i .thr_i{

   height: 200px;
   margin: auto;

   width:30%;
   background:;
}
.header .part1 .lable .blink1 .three_i .thr_i .food_img{

   height: 150px;
   width: 100%;
   background:;
   padding-top: 20px;

}
.header .part1 .lable .blink1 .three_i .thr_i .food_img .ihj{

   height: 120px;
   width: 120px;
   background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
   background-size:100% 100%;
   border-radius: 50%;
   margin: auto;
   padding:;
}
.header .part1 .lable .blink1 .three_i .thr_i .lable_e{

   height: 50px;
   background: ;
}
.header .part1 .lable .blink1 .btn_i{

   height: 80px;
   background:;
   text-align: center;
}
.header .part1 .lable .blink1 .btn_i button{

   padding: 20px;
   background: rgb(247, 22, 60);
   cursor: pointer;
   font-size: 20px;
   border: none;
}
.header .part1 .lable .blink1 .btn_i .button:hover{

   transform: scale(1.3);
}

.header .part1 .lable .blink2{

   height:530px ;
   width: 100%;
   background: #fff;
   position: absolute;
   opacity: 0;
   animation: dp1 6s linear infinite;
  
}
 .header .part1 .lable .blink2 .had{

   height: 200px;
   width: 100%;
   background: #fff;
   
}
.header .part1 .lable .blink2 .had h1{

   margin-left: 50px;
   padding-top: 40px;
   font-size: 40px;
}
.header .part1 .lable .blink2 .pdd{

   height: 50px;
   background:;
   padding-left:50px;
}
.header .part1 .lable .blink2 .three_i{

height: 200px;
width: 100%;
background:;
display: flex;

}
.header .part1 .lable .blink2 .three_i .one_i{

   height: 200px;
   width:30%;
   background:;
   margin: auto;
}
.header .part1 .lable .blink2 .three_i .one_i .food_img{

   height: 150px;
   width: 100%;
   background:;
   padding-top: 20px;

}
.header .part1 .lable .blink2 .three_i .one_i .food_img .ihj{

   height: 120px;
   width: 120px;
   background:url(https://technext.github.io/kusina/images/insta-2.jpg);
   background-size: 100% 100%;
   border-radius: 50%;
   margin: auto;
   padding:;
}
.header .part1 .lable .blink2 .three_i .one_i .lable_e{

   height: 50px;
   background:;
}
.header .part1 .lable .blink2 .three_i .two_i{

   height: 200px;
   width:30%;
   background:;
   margin: auto;

}
.header .part1 .lable .blink2 .three_i .two_i .food_img{

   height: 150px;
   width: 100%;
   background:;
   padding-top: 20px;

}
.header .part1 .lable .blink2 .three_i .two_i .food_img .ihj{

   height: 120px;
   width: 120px;
   background:url(https://technext.github.io/kusina/images/menu-1.jpg);
   background-size:100% 100%;
  
   border-radius: 50%;
   margin: auto;
}
.header .part1 .lable .blink2 .three_i .two_i .lable_e{

   height: 50px;
   background:;
}
.header .part1 .lable .blink2 .three_i .thr_i{

   height: 200px;
   margin: auto;

   width:30%;
   background:;
}
.header .part1 .lable .blink2 .three_i .thr_i .food_img{

   height: 150px;
   width: 100%;
   background:;
   padding-top: 20px;

}
.header .part1 .lable .blink2 .three_i .thr_i .food_img .ihj{

   height: 120px;
   width: 120px;
   background:url(https://technext.github.io/kusina/images/lunch-4.jpg);
   background-size:100% 100%;
   border-radius: 50%;
   margin: auto;
   padding:;
}
.header .part1 .lable .blink2 .three_i .thr_i .lable_e{

   height: 50px;
   background: ;
}
.header .part1 .lable .blink2 .btn_i{

   height: 80px;
   background:;
   text-align: center;
}
.header .part1 .lable .blink2 .btn_i button{

   padding: 20px;
   background: rgb(247, 22, 60);
   cursor: pointer;
   font-size: 20px;
   border: 1px solid  rgb(247, 22, 60) ;
   
}
.header .part1 .lable .blink2 .btn_i .button:hover{

   background: transparent;
}

 @keyframes dp {

   0%{opacity: 1;}
   100%{opacity: 0;}


   
}

@keyframes dp1 {

   0%{opacity: 0;}
   100%{opacity: 1;}


   
} 

.header .part2{

   height: 600px;
   width: 50%;
   background-size:100% 100%;
   animation: deep 6s linear infinite;
   
}
 @keyframes deep {

   0%{background:url(https://preview.colorlib.com/theme/kusina/images/xbg_3.jpg.pagespeed.ic.brJXoGWxK2.webp);background-size:100% 100%;}
   
   50%{background:url(https://preview.colorlib.com/theme/kusina/images/xbg_2.jpg.pagespeed.ic.-Z4_rorG7X.webp);background-size:100% 100% ;}
   
   100%{background:url(https://preview.colorlib.com/theme/kusina/images/xbg_4.jpg.pagespeed.ic.YD6O78EK5U.webp);background-size:100% 100% ;}
   
   
   
}  
.header .part2 .header1{

   height: 70px;
   width: 100%;
   background:black;
   display:none ;


   
}
.header .part2 .header1 h1{

   line-height: 70px;
   color: white;
}
.header .part2 .header1 .menu{

   float: right;
   margin-top: -50px;
   color: #fff;
   cursor: pointer;
}
.header .part2 .header1 .dropdown{ 
   position: relative;
   display: inline;
}
.header .part2 .header1 .dropdown-content {
   display: none;
   position: absolute;
  height: 300px;
  width: 900px;
  background:blue;
  left:0px;
  top: 0px;

   z-index: 1;
 }

.header .part2 .header1 .dropdown-content .home{

   height: 50px;
   width: 100%;
   background: black;
}
.header .part2 .header1 .dropdown-content .about{ 

   height: 50px;
   width: 100%;
   background:black;
}
.header .part2 .header1 .dropdown-content .spi{

   height: 50px;
   width: 100%;
   background:black;
}
.header .part2 .header1 .dropdown-content .rev{

   height: 50px;
   width: 100%;
   background:black;
}
.header .part2 .header1 .dropdown-content .stories{

   height: 50px;
   width: 100%;
   background:black;
}
.header .part2 .header1 .dropdown-content .cont{

   height: 50px;
   width: 100%;
   background:black;
} 
.header .part2 .header1 .dropdown-content .p1 {

   color:white;
   padding-left: 50px;
  
}

 .header .part2 .header1 .dropdown:hover .dropdown-content {
   display: block;
 }
 
.header .part2 .nav{ 

   height: 100px;
   background:;
   text-align: center;
   line-height: 100px;
   
}
.header .part2 .nav ul {

   

}
.header .part2 .nav ul li{

   list-style: none;
   display: inline;
   margin-right: 30px;
}
.header .part2 .nav ul li a{

   text-decoration: none;
   color: white;
   font-size: 15px;
   transition: 1s;

}
.header .part2 .nav ul li a:hover{

   color: rgb(247, 22, 60)  ;

}
.header .part2 .lable_1{

   height: 200px;
   background:;
   display: none;
   position: relative;
   top:50px;
}
.header .part2 .lable_1 .blink_1{

   height: 200px;
   width: 100%;
   background: ;
   position: absolute;
   opacity: 1;
    animation: dp 6s linear infinite;  
   
}
.header .part2 .lable_1 .blink_2{

   height: 200px;
   width: 100%;
   background:;
   position: absolute;
   opacity: 0;
    animation: dp1 6s linear infinite; 
}
 .header .part2 .lable_1 .img_1{

      height: 50px;
      width: 100%;
      background: black;
} 
.content
{

   height: 700px;
   background: red;
   display: flex;
   flex-wrap: wrap;
}
.content .left_part{

   height: 800px;
   width: 40%;
   background:#fff;

}
.content .left_part .photo{

   height: 800px;
   width: 80%;
   background:url(https://preview.colorlib.com/theme/kusina/images/xabout.jpg.pagespeed.ic.TN8araGuuZ.webp);
   background-size: 100% 100%;
   float: right;
}
.content .right_part{

   height: 800px;
   width: 60%;
   background: #fff;
   
}
.content .right_part h1,p,h2{

   padding-left: 50px;
   margin-top: 60px;
}
.content .right_part .three_img{

   height:auto;
   width: 100%;
   background:#fff;
   margin-top: 100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}
.content .right_part .three_img .img_f{
   height:150px ;
   width: 150px;
   background:url(https://preview.colorlib.com/theme/kusina/images/xmenu-3.jpg.pagespeed.ic.CIkQ6RKCvH.webp);
   background-size: 100% 100%;
   margin-right: 30px;

   
}
.content .right_part .three_img .img_f .p1{

   height: 120px;
   background:url(https://preview.colorlib.com/theme/kusina/images/xmenu-2.jpg.pagespeed.ic.ik3v_MP9Cw.webp);
   background-size: 100% 100%;
}
.content .right_part .three_img .img_f .l1{

   height: 30px;
   background:#fff;
   text-align: center;
   line-height: 30px;
}
.content .right_part .three_img .img_s .p1{

   height: 120px;
   background:url(https://preview.colorlib.com/theme/kusina/images/xmenu-2.jpg.pagespeed.ic.ik3v_MP9Cw.webp);
   background-size: 100% 100%;
}
.content .right_part .three_img .img_s .l1{

   height: 30px;
   background: #fff;
   text-align: center;
   line-height: 30px;
}
.content .right_part .three_img .img_t .p1{

   height: 120px;
   background:url(https://preview.colorlib.com/theme/kusina/images/xmenu-1.jpg.pagespeed.ic.uuCpznCEjB.webp);
   background-size: 100% 100%;
}
.content .right_part .three_img .img_t .l1{

   height: 30px;
   background:#fff;
   text-align: center;
   line-height: 30px;
}
.content .right_part .three_img .img_s{
   height:150px ;
   width: 150px;
  
   margin-right: 30px;

}
.content .right_part .three_img .img_t{
   height:150px ;
   width: 150px;
  
   margin-right: 30px;
}
.show_bg{
 
    height:auto;
    width: 100%;
    background:url(https://preview.colorlib.com/theme/kusina/images/xbg_4.jpg.pagespeed.ic.YD6O78EK5U.webp);
    background-size:cover;
 
   
    
}
.show_bg .show_bg1{

   height:auto;
   width: 80%;
   background:transparent;
   display: flex;
   flex-wrap: wrap;
   margin-left: 120px;



   
}
 .show_bg .show_bg1 .show_bg_1{

   height:300px;
   width: 25%;
   background: transparent;
}
.show_bg .show_bg1 .show_bg_2{

   height:300px;
   width: 25%;
   background: transparent;
}
.show_bg .show_bg1 .show_bg_3{

   height: 300px;
   width: 25%;
   background: transparent;
}
.show_bg .show_bg1 .show_bg_4{

   height: 300px;
   width: 25%;
   background: transparent;
}
.show_bg .show_bg1 h1{

   text-align: center;
   line-height: 200px;
  
} 
.show_bg .show_bg1 h4{

   text-align: center;
   line-height: -100px;
}
.main{

   height:auto;
   width: 100%;
   background:#fff;
}
.main .header3{

   height: 150px;
   width: 100%;
   background:;
   
}
.main .header3 h1{

   font-size: 40px;
   text-align: center;
   line-height: 150px;
}
.main .food{
   height:auto;
   background:#fff;
}
.main .food .food1{

   height:auto;
   width: 80%;
   background:#fff;
   margin-left:10%;
   display: flex;
   flex-wrap: wrap;
}
.main .food .food1 .food_a{

   height: 500px;
   background:;
   width: 33.33%;
}
.main .food .food1 .food_a .item1{

   height: 125px;
   width: 100%;
   background:#fff;
}
.main .food .food1 .food_a .item2{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
 
}
.main .food .food1 .food_a .item2 .left_a{

  height: 125px;
  width: 30%;
  background:#fff;
}
.main .food .food1 .food_a .item2 .left_a .dish{

   height: 90px;
   width: 90px;
   background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
   background-size: 100% 100%;
   border-radius: 50%;
}

.main .food .food1 .food_a .item2 .right_a{

   height: 125px;
   width: 70%;
   background:;
 }

 .main .food .food1 .food_a .item2 .right_a .up{

   height: 70px;
   background:#fff;
 }
 .main .food .food1 .food_a .item2 .right_a .down{

   height: 55px;
   background:#fff;
   

 }
.main .food .food1 .food_a .item3{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_a .item3 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_a .item3 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_a .item3 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_a .item3 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_a .item3 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_a .item4{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_a .item4 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_a .item4 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_a .item4 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_a .item4 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_a .item4 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }

.main .food .food1 .food_b{

   height: 500px;
   background:;
   width: 33.33%;
}
.main .food .food1 .food_b .item1{

   height: 125px;
   width: 100%;
   background: #fff;
}
.main .food .food1 .food_b .item2{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_b .item2 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_b .item2 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_b .item2 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_b .item2 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_b .item2 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_b .item3{

   height: 125px;
   width: 100%;
   background: ;
   display: flex;
}
.main .food .food1 .food_b .item3 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_b .item3 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_b .item3 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_b .item3 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_b .item3 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_b .item4{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_b .item4 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_b .item4 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_b .item4 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_b .item4 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_b .item4 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_c{

   height: 500px;
   background:;
   width: 33.33%;
}
.main .food .food1 .food_c .item1{

   height: 125px;
   width: 100%;
   background:#fff;
}
.main .food .food1 .food_c .item2{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_c .item2 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_c .item2 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_c .item2 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_c .item2 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_c .item2 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_c .item3{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_c .item3 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_c .item3 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_c .item3 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_c .item3 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_c .item3 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_c .item4{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_c .item4 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_c .item4 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_c .item4 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_c .item4 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_c .item4 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
  .main .food .food1 .food_d{

   height: 500px;
   width: 33.33%;
   background: pink;

  }
  .main .food .food1 .food_d .item1{

   height: 125px;
   width: 100%;
   background:#fff;
}
.main .food .food1 .food_d .item2{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_d .item2 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_d .item2 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_d .item2 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }

 
  .main .food .food1 .food_d .item2 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_d .item2 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_d .item3{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_d .item3 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_d .item3 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_d .item3 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_d .item3 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_d .item3 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_d .item4{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_d .item4 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_d .item4 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_d .item4 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_d .item4 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_d .item4 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }

  .main .food .food1 .food_e{

   height: 500px;
   width: 33.33%;
   background: blue;

  }
  .main .food .food1 .food_f .item1{

   height: 125px;
   width: 100%;
   background:#fff;
}
.main .food .food1 .food_f .item2{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_f .item2 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_f .item2 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_f .item2 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_f .item2 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_f .item2 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_f .item3{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_f .item3 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_f .item3 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_f .item3 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_f .item3 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_f .item3 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_f .item4{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_f .item4 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_f .item4 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_f .item4 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_f .item4 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_f .item4 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }

  .main .food .food1 .food_f{

   height: 500px;
   width: 33.33%;
   background:gray;

  }
  .main .food .food1 .food_e .item1{

   height: 125px;
   width: 100%;
   background:#fff;
}
.main .food .food1 .food_e .item2{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_e .item2 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_e .item2 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_e .item2 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_e .item2 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_e .item2 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_e .item3{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_e .item3 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_e .item3 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_e .item3 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_e .item3 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_e .item3 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }
.main .food .food1 .food_e .item4{

   height: 125px;
   width: 100%;
   background:;
   display: flex;
}
.main .food .food1 .food_e .item4 .left_a{

   height: 125px;
   width: 30%;
   background:#fff;
 }
 .main .food .food1 .food_e .item4 .left_a .dish{
 
    height: 90px;
    width: 90px;
    background:url(https://technext.github.io/kusina/images/breakfast-1.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
 }
 
 .main .food .food1 .food_e .item4 .right_a{
 
    height: 125px;
    width: 70%;
    background:;
  }
 
  .main .food .food1 .food_e .item4 .right_a .up{
 
    height: 70px;
    background:#fff;
  }
  .main .food .food1 .food_e .item4 .right_a .down{
 
    height: 55px;
    background:#fff;
    
 
  }

/* .main .food .food1 .bark,.dinner,.desert, h1{

   text-align: center;
   line-height: 90px;
} */
.main .food .food1 .brak{

   height: 90px;
   width: 33.33%;
   background: ;
}
.main .food .food1 .brak .item1{

   height: 100px;
   width: 100%;
   background: ;
}
.main .food .food1 .brak .item2{

   height: 100px;
   width: 100%;
   background: ;
}
.main .food .food1 .brak .item3{

   height: 100px;
   width: 100%;
   background:;
}
.main .food .food1 .dinner{

   height: 90px;
   width: 33.33%;
   background:;
}
.main .food .food1 .dinner .item1{

   height: 100px;
   width: 100%;
   background:;
}
.main .food .food1 .dinner .item2{

   height: 100px;
   width: 100%;
   background:;
}
.main .food .food1 .dinner .item3{

   height: 100px;
   width: 100%;
   background:;
}
.main .food .food1 .desert{
   

   height: 90px;
   width: 33.33%;
   background:;
}
.main .food .food1 .desert .item1{

   height: 100px;
   width: 100%;
   background:;
}
.main .food .food1 .desert .item2{

   height: 100px;
   width: 100%;
   background:;
}
.main .food .food1 .desert .item3{

   height: 100px;
   width: 100%;
   background:;
}
.view {

   height: 200px;
   width: 100%;
   opacity: ;
   background:#fff;
   
}
.view button{

   padding: 30px;
   margin-left: 45%;
   margin-top: 60px;
   background: black;
   color: white;
   font-size: 20px;
   border: none;
}
.blink{

   height: auto;
   background:url(https://preview.colorlib.com/theme/kusina/images/xbg_5.jpg.pagespeed.ic.jh4hEpFZBx.webp);
   background-size: cover;
}
.blink .mon{

   height:auto;
   background:transparent;
   width: 40%;
   margin: auto;
   
}
.blink .mon .imfg{

   height: 150px;
   width: 100%;
   background:;
   margin-top: 30px;
   

   
}
.blink .mon .imfg .imgf{

   height: 150px;
   width: 150px;
   background:url(https://preview.colorlib.com/theme/kusina/images/xperson_1.jpg.pagespeed.ic.a2MnMHMs44.webp);
   background-size: 100% 100%;
   margin: auto;
   border-radius: 50%;




   
}
.blink .mon .deep{

   
}
.seaf{

   height:auto;
   background:#fff;
}
.seaf .hadf{

   height:200px;
   background:#fff;
}
.seaf .seaf_d{

   height:auto ;
   width: 80%;
   background:;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
}
.seaf .seaf_d .seaf_1{

   height: 500px;
   width: 25%;
   background:;


  
}
.seaf .seaf_d .seaf_1 .sef_i
{
   height: 400px;
   width: 80%;
   margin: 50px auto;
   background:#fff;
}
.seaf .seaf_d .seaf_1 .photo_a{

   height: 250px;
   background:url(https://preview.colorlib.com/theme/kusina/images/xchef-4.jpg.pagespeed.ic.vGWCRxGu3_.webp);
   background-size: 100% 100%;
}
.seaf .seaf_d .seaf_1 .name{

   height: 100px;
   background:#fff;
   padding-top: 20px;
   margin-left: 20px;
}
.seaf .seaf_d .seaf_1 .soc{

   height: 50px;
   background:#fff;
}
.seaf .seaf_d .seaf_2{

   height: 500px;
   width: 25%;
   background:;


}
.seaf .seaf_d .seaf_2 .sef_i
{
   height: 400px;
   width: 80%;
   margin: 50px auto;
   background:#fff;
}
.seaf .seaf_d .seaf_2 .photo_a{

   height: 250px;
   background:url(https://preview.colorlib.com/theme/kusina/images/xchef-2.jpg.pagespeed.ic.Etg484-F2U.webp);
   background-size: 100% 100%;
}
.seaf .seaf_d .seaf_2 .name{

   height: 100px;
   background:#fff;
   padding-top: 20px;
   margin-left: 20px;
}
.seaf .seaf_d .seaf_2 .soc{

   height: 50px;
   background:#fff;
}
.seaf .seaf_d .seaf_3{

   height: 500px;
   width: 25%;
   background:;

   
}
.seaf .seaf_d .seaf_3 .sef_i
{
   height: 400px;
   width: 80%;
   margin: 50px auto;
   background:#fff;
}
.seaf .seaf_d .seaf_3 .photo_a{

   height: 250px;
   background:url(https://preview.colorlib.com/theme/kusina/images/xchef-1.jpg.pagespeed.ic.5R4FWxFRBv.webp);
   background-size: 100% 100%;
}
.seaf .seaf_d .seaf_3 .name{

   height: 100px;
   background:#fff;
   padding-top: 20px;
   margin-left: 20px;
}
.seaf .seaf_d .seaf_3 .soc{

   height: 50px;
   background:#fff;
}
.seaf .seaf_d .seaf_4{

   height: 500px;
   width: 25%;
   background:;
   
  
}
.seaf .seaf_d .seaf_4 .sef_i
{
   height: 400px;
   width: 80%;
   margin: 50px auto;
   background:#fff;
}
.seaf .seaf_d .seaf_4 .photo_a{

   height: 250px;
   background:url(https://preview.colorlib.com/theme/kusina/images/xchef-3.jpg.pagespeed.ic.Ysj290Ums6.webp);
   background-size: 100% 100%;
}
.seaf .seaf_d .seaf_4 .name{

   height: 100px;
   background:#fff;
   padding-top: 20px;
   margin-left: 20px;
}
.seaf .seaf_d .seaf_4 .soc{

   height: 50px;
   background:#fff;
}
.last_top{

   height:auto;
   background:#fff;
}
.last_top .center{

   height:auto;
   width: 70%;
   background:;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}
.last_top .f1{

   height:500px;
   width: 50%;
   background:url(https://preview.colorlib.com/theme/kusina/images/xchef-1.jpg.pagespeed.ic.5R4FWxFRBv.webp);
   background-size:100% 100%;
  
}
.last_top .center .s1{

   height:500px;
   width: 50%;
   background:#fff;
  
}
.last_top .center .s1 .h_name{

   height: 100px;
   padding-top: 20px;
   background:#fff;
   margin-left: 20px;
}
.last_top .center .s1 .form{

   height: 300px;
   width: 100%;
   background:#fff;
   display: flex;
}
.last_top .center .s1 .form .lform{

   height: 300px;
   width: 50%;
   background:;
}
.last_top .center .s1 .form .lform h3{ 

   margin-left: 50px;
   margin:10px;
}
.last_top .center .s1 .form .lform input[type=text] {

   padding: 12px;
   margin-left: 20px;

   border: 1px solid rgb(247, 22, 60);

}
.last_top .center .s1 .form .rform h3{ 

   margin-left: 40px;
   margin:10px;
}
.last_top .center .s1 .form .rform input[type=text] {

   padding: 12px;
   margin-left: 20px;

   border: 1px solid rgb(247, 22, 60);

}
.last_top .center .s1 .form .rform{

   height: 300px;
   width: 50%;
   background:;
}
.last_top .center .s1 .btn5{

   height: 100px;
   background:#fff;
   padding-top: 20px;
}
.last_top .center .s1 .btn5 button{

   padding: 20px;
   font-size: 20px;
   background: rgb(247, 22, 60);
   font-weight: bold;
   color: #fff;
   border: none;
   margin-left: 30px;
   border-radius:10px;
  
}
.footer
{
   height: auto;
   background:black;
}
.ggg{

   height: 100px;
   background:black;
}
.footer .footer_main{

   height: auto;
   width: 80%;
   margin: auto;
   background: coral;
   display: flex;
   flex-wrap: wrap;
}
.footer .footer_main .footer_1{

   height: 300px;
   width: 25%;
   background:black;

}
.footer .footer_main .footer_1 .h_name{

      height: 100px;
      width: 100%;
      background:;

}
.footer .footer_main .footer_1 .h_name h1{

   text-align: center;
   line-height: 100px;
   color: gray;
}
.footer .footer_main .footer_1 .cont{

   height: 100px;
   background:;
   width: 100%;
}
.footer .footer_main .footer_1 .cont h4{

   text-align: center;
   color: gray;
   
}
.footer .footer_main .footer_1 .social_1{

   height: 100px;
   background:;
   width: 100%;
}
.footer .footer_main .footer_1 .social_1 .sc{

   text-align: center;
   font-size: 30px;
   line-height: 100px;
   color:gray;
}
.footer .footer_main .footer_2{

   height: 300px;
   width: 25%;
   background:black;

}
.footer .footer_main .footer_2 .h_name h1{

   text-align: center;
   line-height: 100px;
   color: gray;
}
.footer .footer_main .footer_2 .main_f{

   height: 200px;
   width: 100%;
   background:;
   display: flex;
}
.footer .footer_main .footer_2 .main_f .l_main{

   height: 200px;
   width: 50%;
   background:;
}
.footer .footer_main .footer_2 .main_f .l_main h4{

 color: gray;
}
.footer .footer_main .footer_2 .main_f .r_main{

   height: 200px;
   width: 50%;
   background:;
}
.footer .footer_main .footer_2 .main_f .r_main h4{

   color: gray;

}
.footer .footer_main .footer_3{

   height: 300px;
   width: 25%;
   background:black;

}
.footer .footer_main .footer_3 .h_name h1{

   text-align: center;
   line-height: 100px;
   color: gray;
}
.footer .footer_main .footer_3 .cont{

   height: 100px;
   background:;
   width: 100%;
}
.footer .footer_main .footer_3 .cont h4{

   text-align: center;
   color: gray;
   
}
.footer .footer_main .footer_3 .email{

   height: 50px;
   width: 100%;
   background:;
}
.footer .footer_main .footer_3 .email input[type=text]{

  padding: 15px;
  width: 100%;
  border: none;
  background: rgb(14, 12, 12);
  
}
.footer .footer_main .footer_3 .scr{

   height: 50px;
   width: 100%;
   background:;
}
.footer .footer_main .footer_3 .scr button{

   padding: 15px;
   width: 100%;
   border: none;
   background:rgb(209, 0, 35);
   color: white;
   
 }
.footer .footer_main .footer_4{

   height: 300px;
   width: 25%;
   background:black;

}
.footer .footer_main .footer_4 .h_name h1{

   text-align: center;
   line-height: 100px;
   color: gray;
}
.footer .footer_main .footer_4 .intsta{

   height: 200px;
   width: 100%;
   background: coral;
   margin-left: 20px;
}

.footer .footer_main .footer_4 .intsta .up_p{

   height: 100px;
   width: 100%;
   background:blue;
   display: flex;
}
.footer .footer_main .footer_4 .intsta .up_p .ig1{

   height: 100px;
   width: 33.33%;
   background:url(https://preview.colorlib.com/theme/kusina/images/xwine-3.jpg.pagespeed.ic.nAZWSLEoMr.webp);
   background-size: 100% 100%;
}.footer .footer_main .footer_4 .intsta .up_p .ig2{

   height: 100px;
   width: 33.33%;
   background:url(https://preview.colorlib.com/theme/kusina/images/xwine-1.jpg.pagespeed.ic.FGmClkByJK.webp);
   background-size: 100% 100%;
}.footer .footer_main .footer_4 .intsta .up_p .ig3{

   height: 100px;
   width: 33.33%;
   background:url(https://preview.colorlib.com/theme/kusina/images/xwine-3.jpg.pagespeed.ic.nAZWSLEoMr.webp);
   background-size: 100% 100%;
}

.footer .footer_main .footer_4 .intsta .down_p{

   height: 100px;
   width: 100%;
   background:gray;
   display: flex;
}
.footer .footer_main .footer_4 .intsta .down_p .ig1{

   height: 100px;
   width: 33.33%;
   background:url(https://preview.colorlib.com/theme/kusina/images/xwine-1.jpg.pagespeed.ic.FGmClkByJK.webp);
   background-size: 100% 100%;
}.footer .footer_main .footer_4 .intsta .down_p .ig2{

   height: 100px;
   width: 33.33%;
   background:url(https://preview.colorlib.com/theme/kusina/images/xwine-3.jpg.pagespeed.ic.nAZWSLEoMr.webp);
   background-size: 100% 100%;
}.footer .footer_main .footer_4 .intsta .down_p .ig3{

   height: 100px;
   width: 33.33%;
   background:url(https://preview.colorlib.com/theme/kusina/images/xwine-1.jpg.pagespeed.ic.FGmClkByJK.webp);
   background-size: 100% 100%;
}
.black
{
   height: 200px;
   background:black;
}