
*{box-sizing: border-box; margin:0; padding:0;}
body{

	overflow-x: hidden;
	
}
.header{
	height: 30px;
	width: 100%;
	background: black ;
	display: flex;
	text-align: center;
	line-height: 30px;
	
}
.header .blank1{
	height: 30px;
	width: 16.66%;

}
.header .singin{
	height: 30px;

	width: 16.66%;
	border-right: 1px solid white;
}
.header a{

	text-decoration: none;
	color: white;
	transition: 1s;
}
.header a:hover{

	color: #25ffcd ;
	font-size: 10px;
}

.header .singup{
	height: 30px;

	width: 16.66%;
	border-right: 1px solid white;
}
.header .call{
	height: 30px;
	
	width: 16.66%;
	border-right: 1px solid white;
}

.header .info{
	height: 30px;
	width: 16.66%;
	
}
.header .blank2{
	height: 30px;

	width: 16.66%;
}
.header i {

	margin: 10px;
	color:#25ffcd ;

}

.subheader{
	
	height: 150px;
	background:#fff;
	display: flex;
}
.subheader .search{

	height: 150px;
	width: 33.33%;
	background:;
	position: relative;

	


}
 form .sre input[type=text]{

	position: absolute;
	left:10%;
	top: 30%;
	width: 70%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  outline: none;
  padding-top: 10px ;
  padding-bottom: 10px;	
  }




form .btn button
{
	position: absolute;
	top: 30%;
	left: 80%;
	padding: 12px;
	margin-left: 10px;
	background: #25ffcd;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: 1s;


}
form .btn button:hover{

	background: black;
	color: white;
	transform: scale(1.3);
}
.subheader .logo{

	height: 150px;
	width: 33.33%;
	background:;
	display: flex;
	justify-content: center;
	align-items: center;

}

 h1{



	position: relative;

}
.subheader span{

	padding: 6px 10px;
	background: black;
	color: white;
}
.subheader .logo  i{

	position: absolute;
	font-size: 20px;
	top: 88%;
	left:87%;
	color: #25ffcd ;

}

.subheader .social{

	
	height:150px;
	width: 33.33%;
	background: ;
	position: relative;

}
.subheader .social h2{

	position: absolute;
	left: 20%;
	top: 40%;
}
.social i{

	margin: 5px;
	font-size: 15px;
	

}
.subheader .social .ic{

position: relative;
	left: 45%;
	top: 35%;



}


 
 .facebook {

 	color: white;
 	padding: 4px 8px;
 	background: #3b5998;
 	margin: 10px;
 	position: absolute;
 	left:2%;
 	top:50px;
 	transition: 1s;
 }
 .facebook:hover{


		color: ;
		background: black;
		transform: scale(1.3);
	

 }
 .insta {

 	color: white;
 	padding: 4px 8px;
 	background:  #c32aa3;
 	margin: 10px;
 	position: absolute;
 	left: 12%;
 	top:50px;
 	transition: 1s;


 }
 .insta:hover{


		color: ;
		background: black;
		transform: scale(1.3);
	

 }
 .twt {

 	color: white;
 	padding: 4px 8px;
 	background:#1da1f2;
 	margin: 10px;
 		position: absolute;
 	left: 22%;
 top:50px;
 transition: 1s;
}
.twt:hover{


		color: ;
		background: black;
		transform: scale(1.3);
	

 }
 .in {

 	color: white;
 	padding: 4px 8px;
 	background:  #fffc00;
 	margin: 10px;
 		position: absolute;
 	left: 33%;
top:50px;
 transition: 1s;
 }
 .in:hover{


		color: ;
		background: black;
		transform: scale(1.3);
	

 }
 .contient{

 	height: 70px;
 	background: black;
 	width :100%;
 	display: flex;
 }
 
 .contient .menu1{
 	height: 70px;
 	width: 70%;
 	background: black;
}
.contient .menu1 ul{
	margin: 0;
	margin-left:25% ;
	padding: 0;

}
.contient .menu1 ul li{

	position: relative;
}
.contient .menu1 li{
	list-style: none;

display: inline;
margin-right: 20px;
}
.contient .menu1 li::after{
	content: "";
	height:5px;
	width: 0px;
	background:  #25ffcd;
	position: absolute;
	top: 100%;
	left: 0;
	bottom: 0;
	transition: 1s;



}
.contient .menu1 ul li:hover::after
		{
			height: 5px;
			width: 100%;
		}

.contient .menu1 li a{

		text-decoration: none;
		text-align: center;
		line-height: 70px;
		font-size: 20px;
		color: white;
		cursor: pointer;
		

}
.u1{

	cursor: pointer;
}
/*dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .deep {
  height: 300px;
  width: 600px;
  background: #fff;
  display: flex;
}
.dropdown-content .deep .part-1{

	height: 300px;
	width: 50%;
	background: #fff;
	padding-top: 50px;
	padding-left: 50px;

}
.dropdown-content .deep .part-2{

	height: 300px;
	width: 50%;
	background: #fff;
	display: flex;

}
.part-2 .s1{

	height: 300px;
	width: 50%;
	background: #fff;
}
.part-2 .s2{

	height: 300px;
	width: 50%;
	background: #fff;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
/*dropend*/




.contient .cart{
 	height: 70px;
 	width: 20%;
 	background: #25ffcd;

}
.contient .cart .crt{

text-align: center;
line-height: 70px;
font-size: 40px;



}
.contient .cart .crt a{

color: black;
transition: 1s;

}
.contient .cart .crt a:hover{

color: white;
font-size: 30px;

}
.contient .bal{
 	height: 70px;
 	width: 10%;
 	background: black;
}

.image {

	height: 350px;
	width: 100%;
	background: url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/banner3.jpg) ;
	filter: brightness(100%);
	background-size: cover;
	position: relative;
	
	
}
.image h1{

position: absolute;
left: 40%;
top: 20%;
font-family: 'Cormorant SC',monospace;

	}
	.image h1 span{

		color:#25ffcd;
		font-family: cursive;
	}
.image .ads1{
		font-size: 15px;
		position: absolute;
		left:20%;
		top: 70px;
		color: #FFC300;
		font-size: 20px;


}
.image .btn2 button{

	position: absolute;
	width: 50%;
	left: 50px;
	top: 50px;
	padding: 12px;
	background: #25ffcd;
	border: none;
	cursor: pointer;
	transition: 1s;
	position: relative;
}
.image .btn2 button::before {

	content: '';
	position: absolute;
	border: #25ffcd solid 6px;
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .3s;
 
}
.image .btn2 button:hover:before{
	top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
}

.twoimage{

	height:auto;
	width: 100%;
	background: #fff;
	display: flex;
	padding: 3%;
}

.twoimage .p1 {

	height: 300px;
	width: 50%;	
	margin-right: 30px;
	border: 12px solid rgba(255, 255,255, 0.4);
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bottom1.jpg);*/
	
	background-origin: border-box;	
	background-size:110% 100%;
	margin-left: -0px;  
	background-position: -30px 0;
	transition: 1s;
	padding-left: 40px;
	padding-top: 30px;
	padding-right: ;

}

.twoimage .p1 .sbox{


	height: 220px;
	width: 460px;
	background: transparent;
	border:6px solid white;	
	display: none; 
	transition: 1s;
	animation: deep 1s  forwards;


	
	
}
.twoimage .p1 .sbox .fg h1{

	margin-left: 40%;
	color: #25ffcd;
	margin-top: 60px;

}
.twoimage .p1 .sbox .fg h3{

color: red;
margin-left: 35%;
font-size: 30px;
padding: 30px;


}
.p1:hover .sbox{


	
	display: block;
	

	animation: deep  1s forwards;

}
/*.p1:hover .sbox{
	
}*/
@keyframes deep
{
	to{transform: translatex(30px);}
	from{transform: translatex(0px) ; transition: 4s;}
}
/*@keyframes deep1{
	0%{opacity: 1;}
	50%{opacity: 0.5;}
	100%{opacity: 0;}
}*/
.twoimage .p1:hover
{
		background-position: 0px 0;
	


}



.twoimage .p2 {

	height: 300px;
	width: 50%;	
	margin-right: 30px;
	border: 12px solid rgba(255, 255,255, 0.4);
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bottom2.jpg);
	
	background-origin: border-box;	
	background-size:110% 100%;
	margin-left: -0px;  
	background-position: -30px 0;
	transition: 1s;
	padding-left: 40px;
	padding-top: 30px;
	padding-right: ;	
}
.twoimage .p2 .pbox{


	height: 220px;
	width: 460px;
	background: transparent;
	border:6px solid white;	
	display: none;
	transition: 1s;
	animation: deep 1s  forwards;


	
	
}
.twoimage .p2 .pbox .fd h1{

	margin-left: 40%;
	color: #25ffcd;
	margin-top: 60px;

}
.twoimage .p2 .pbox .fd h3{

color: red;
margin-left: 35%;
font-size: 30px;
padding: 30px;


}

.p2:hover .pbox{


	
	display: block;
	
	animation: deep  1s forwards;

}
/*.p1:hover .sbox{
	
}*/
@keyframes deep
{
	to{transform: translatex(30px);}
	from{transform: translatex(0px) ; transition: 4s;}
}t
/*@keyframes deep1{
	0%{opacity: 1;}
	50%{opacity: 0.5;}
	100%{opacity: 0;}
}*/
.twoimage .p2:hover
{
		background-position: 0px 0;
	


}




.man{

height: 400px;
width: 100%;
background: red;
display: flex;
position: relative;

}
.man .m1{


	height: 400px;
	width: 50%;
	background: coral;

}
.man .m2{


	height: 400px;
	width: 50%;
	background: #25ffcd;
	
}
.man .m2 .white{

	height: 300px;
	width: 600px;
	background: white;
	position: absolute;
	top: 15%;
}
.man .m2 .white h1{

font-family: monospace;
margin-top: 10px;
margin-left: 20px;

}
.man .m2 .white span{

	color: red;
}
.man .m2 .white .font{

font-size: 18px;
margin-top: 20px;
margin-left: 20px;
}
.fa fa-user{

	
}
.man .m2 .white .icon1{

	font-size: 50px;
	color: #25ffcd;
	margin: 50px;
	padding-right: 40px;
	display: flex;
	
}
.cla{

	margin-left: 40%;
}
.sild{

	margin-left: 40%;

	margin-left: 40%;
}

.man .m2 .white .us{
	 
	font-size: 20px;
	display: flex;
	margin-left: 40px;
	margin-top: -40px;


}
.event{

	margin-left: 29%;
}
.slid1{

	margin-left: 27%;
}
.threeimg{

	height: auto;
	width: 100%;
	background: white ;
	display: flex;
	padding: 6%;
}
.threeimg .im1{

	height: 330px;
	width: 300px;
	border: 12px solid rgba(255, 255,255, 0.4);
	
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bb1.jpg );
	background-origin: border-box;	
	background-position: -30px 0;
	margin-right: 30px;
	margin-left: 23%;
	transition: 1s;
	

}
.threeimg .im1 .dbox{

	height: 280px;
	width: 200px;
	background: transparent;
	border:6px solid white;
	margin-left: 30px;
	margin-top: 20px;	
	 display: none; 
	transition: 1s;
	 animation: dp 1s  forwards; 

}
.im1:hover .dbox{
	display: block;
	
	animation: dp  1s forwards;

}
@keyframes dp {

	to{transform: translateX(10px);}
	
	from{transform: translateX(0px);}
	
}
.threeimg .im1:hover
{
		background-position: 0px 0;
	


}

.threeimg .im2{

height: 300px;
	width: 400px;
	background: ;
	
}
.threeimg .im2 .ig1:hover
{
		background-position: 0px 0;
	


}
.threeimg .im2 .ig1{

	height: 150px;
	width: 400px;
	background: url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bottom3.jpg );
	background-size: 110% 100%;
	border: 12px solid rgba(255, 255,255, 0.4);
	background-position: -30px 0px;
	transition: 1s;
}
.threeimg .im2 .ig1 .abox{

	height: 100px;
	width: 350px;
	background: transparent;
	border:6px solid white;
	margin-left: 15px;
	margin-top: 15px;
	display: none;
	}
	.im2 .ig1:hover .abox{
		display: block;
		
		animation: deep1 1s forwards;
	
	}
@keyframes deep1 {
	from{transform: translate(0px);}
	to{transform: translate(5px);}
}
.threeimg .im2 .ig2{

	height: 150px;
	width: 400px;
	border: 12px solid rgba(255, 255,255, 0.4);
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bottom4.jpg);
	background-origin: border-box;
	background-size: 110% 100%;
	margin-top:30px ;
	
	background-position: -30px 0px;
	transition: 1s;
}
.im2 .ig2:hover{

	background-position: 0 0px;
}
.threeimg .im2 .ig2 .qbox{

	height: 100px;
	width: 350px;
	background: transparent;
	border:6px solid white;
	margin-left: 15px;
	margin-top: 15px;
	display: none;
	}
	.im2 .ig2:hover .qbox{
		display: block;
		
		animation: deep1 1s forwards;
	
	}

.bac{

	height: 50px;
	width: 100%;
	background: white;
}
.h1{

	
	text-align: center;
	line-height: 20px;
	background: white;
	}
.fourimage{

	height:400px;
	width: 100%;
	background: #fff;
	display: flex;
}

.fourimage .c1{

	height: 400px;
	width: 50%;
	background: url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bot_1.jpg);
	background-size: cover;
	position: relative;
	transition: 1s;
	overflow: hidden;
	

}
.fourimage .c1::before{

	content: "";
			height: 400px;
			width: 100%;
	 		background-color: black;
   			 opacity: .1;
			position: absolute;
			left: -100%;
			top: -100%;
			transition: .5s;
			z-index: 1;
}
.fourimage .c1:hover::before{

	position: absolute;
			left: 0%;
			top: 0%;

}
.fourimage .c1::after{

	position: absolute;
	left: 100%;
	top: 100%;
	content: "";
	height: 400px;
	width: 100%;
	 background-color: black;

		opacity: .1;
	transition: .5s;
}
.fourimage .c1:hover::after {

	position: absolute;
	left: 0%;
	top: 0%;
}


.fourimage .c2 {

	height: 400px;
	width: 50%;
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bot_2.jpg);	
	background-size: cover;		
	position: relative;
	transition: 1s;
	overflow: hidden;
	
}
.fourimage .c2::before{

	content: "";
			height: 400px;
			width: 100%;
	 		background-color: black;
   			 opacity: .1;
			position: absolute;
			left: -100%;
			top: -100%;
			transition: .5s;
			z-index: 1;
}
.fourimage .c2:hover::before{

	position: absolute;
			left: 0%;
			top: 0%;

}
.fourimage .c2::after{

	position: absolute;
	left: 100%;
	top: 100%;
	content: "";
	height: 400px;
	width: 100%;
	 background-color: black;

		opacity: .2;
	transition: .5s;
}
.fourimage .c2:hover::after {

	position: absolute;
	left: 0%;
	top: 0%;
}


.con{

	height: 600px;
	width: 100%;
	background:white;
}
.con .hed{

	height: 50px;
	width: 100%;
	background: white;
text-align: center;
	line-height: 100px;
}
.con .had h1{

	color: white;
	
}
.con .con1{

	height: 300px ;
	background:#fff;
	display: flex;
	
	
	

}
.co .con1 .nb{

	display: flex;
}
.con .con1 .j1{

	height: 200px;
	width: 150px;
	background: white;
	margin-left:25% ;
	margin-top: 50px;
	box-shadow: 0 0 30px black;
}
 .j1 .photo{

	height: 150px;
	width:100%;
	background: white;
	position: relative;
	overflow: hidden;
}

.j1 .photo .front{
	height: 150px;
			width: 100%;
			background: #25cdff;
			position: absolute;
			
			transition: 1s;
			backface-visibility: hidden;
}
.j1 .photo .back{
	height: 150px;
			width: 100%;
			background: pink;
			position: absolute;
			
			transition: 1s;
			backface-visibility: hidden;
}
.j1 .photo .quick{

	height: 30px;
	width: 100%;
	background:black;
	position: absolute;
	top: -90px;
	z-index: 1;
	transition: 1s;
	opacity: 0;
	color: white;
	padding-left: 30px;
	padding-top: 8px;
}
.j1 .photo:hover .quick{
	top: 120px;
	opacity: 1;
}
.j2 .photo .quick{

	height: 30px;
	width: 100%;
	background:black;
	position: absolute;
	top: -90px;
	z-index: 1;
	transition: 1s;
	opacity: 0;
	color: white;
	padding-left: 30px;
	padding-top: 8px;
}
.j2 .photo:hover .quick{
	top: 120px;
	opacity: 1;
}
.j3 .photo .quick{

	height: 30px;
	width: 100%;
	background:black;
	position: absolute;
	top: -90px;
	z-index: 1;
	transition: 1s;
	opacity: 0;
	color: white;
	padding-left: 30px;
	padding-top: 8px;
}
.j3 .photo:hover .quick{
	top: 120px;
	opacity: 1;
}
.j4 .photo .quick{

	height: 30px;
	width: 100%;
	background:black;
	position: absolute;
	top: -90px;
	z-index: 1;
	transition: 1s;
	opacity: 0;
	color: white;
	padding-left: 30px;
	padding-top: 8px;
}
.j4 .photo:hover .quick{
	top: 120px;
	opacity: 1;
}
.o1 .photo .quick{

	height: 30px;
	width: 100%;
	background:black;
	position: absolute;
	top: -90px;
	z-index: 1;
	transition: 1s;
	opacity: 0;
	color: white;
	padding-left: 30px;
	padding-top: 8px;
}
.o1 .photo:hover .quick{
	top: 120px;
	opacity: 1;
}
.o2 .photo .quick{

	height: 30px;
	width: 100%;
	background:black;
	position: absolute;
	top: -90px;
	z-index: 1;
	transition: 1s;
	opacity: 0;
	color: white;
	padding-left: 30px;
	padding-top: 8px;
}
.o2 .photo:hover .quick{
	top: 120px;
	opacity: 1;
}
.o3 .photo .quick{

	height: 30px;
	width: 100%;
	background:black;
	position: absolute;
	top: -90px;
	z-index: 1;
	transition: 1s;
	opacity: 0;
	color: white;
	padding-left: 30px;
	padding-top: 8px;
}
.o3 .photo:hover .quick{
	top: 120px;
	opacity: 1;
}
.o4 .photo .quick{

	height: 30px;
	width: 100%;
	background:black;
	position: absolute;
	top: -90px;
	z-index: 1;
	transition: 1s;
	opacity: 0;
	color: white;
	padding-left: 30px;
	padding-top: 8px;
}
.o4 .photo:hover .quick{
	top: 120px;
	opacity: 1;
}
.j1 .photo .front

		{
			transform: rotateY(180deg);

		}
.j1 .photo .back
		{
			transform: rotateY(0deg);

		}
		.j1 .photo:hover .back 
		{
			transform: rotateY(180deg);
		}
		.j1 .photo:hover .front 
		{
			transform: rotateY(0deg);
		}
.j2 .photo{

	height: 150px;
	width:100%;
	background: white;
	position: relative;
	overflow: hidden;
	
}
.j2 .photo .front{
	height: 150px;
			width: 100%;
			background: #25cdff;
			position: absolute;
			
			transition: 1s;
			backface-visibility: hidden;
}
.j2 .photo .back{
	height: 150px;
			width: 100%;
			background: pink;
			position: absolute;
			
			transition: 1s;
			backface-visibility: hidden;
}
.j2 .photo .front

		{
			transform: rotateY(180deg);

		}
.j2 .photo .back
		{
			transform: rotateY(0deg);

		}
		.j2 .photo:hover .back 
		{
			transform: rotateY(180deg);
		}
		.j2 .photo:hover .front 
		{
			transform: rotateY(0deg);
		}
		
.j3 .photo{

	height: 150px;
	width:100%;
	background: white;
	position: relative;
	overflow: hidden;
	
}
.j3 .photo .front{
	height: 150px;
			width: 100%;
			background: #25cdff;
			position: absolute;
			
			transition: 1s;
			backface-visibility: hidden;
}
.j3 .photo .back{
	height: 150px;
			width: 100%;
			background: pink;
			position: absolute;
			
			transition: 1s;
			backface-visibility: hidden;
}
.j3 .photo .front

		{
			transform: rotateY(180deg);

		}
.j3 .photo .back
		{
			transform: rotateY(0deg);

		}
		.j3 .photo:hover .back 
		{
			transform: rotateY(180deg);
		}
		.j3 .photo:hover .front 
		{
			transform: rotateY(0deg);
		}
		
		.j4 .photo{

			height: 150px;
			width:100%;
			background: white;
			position: relative;
			overflow: hidden;
			
		}
		.j4 .photo .front{
			height: 150px;
					width: 100%;
					background: #25cdff;
					position: absolute;
					
					transition: 1s;
					backface-visibility: hidden;
		}
		.j4 .photo .back{
			height: 150px;
					width: 100%;
					background: pink;
					position: absolute;
					
					transition: 1s;
					backface-visibility: hidden;
		}
		.j4 .photo .front
		
				{
					transform: rotateY(180deg);
		
				}
		.j4 .photo .back
				{
					transform: rotateY(0deg);
		
				}
				.j4 .photo:hover .back 
				{
					transform: rotateY(180deg);
				}
				.j4 .photo:hover .front 
				{
					transform: rotateY(0deg);
				}
.o1 .photo{

					height: 150px;
					width:100%;
					background: white;
					position: relative;
					
	overflow: hidden;
					
				}
				.o1 .photo .front{
					height: 150px;
							width: 100%;
							background: #25cdff;
							position: absolute;
							
							transition: 1s;
							backface-visibility: hidden;
				}
				.o1 .photo .back{
					height: 150px;
							width: 100%;
							background: pink;
							position: absolute;
							
							transition: 1s;
							backface-visibility: hidden;
				}
				.o1 .photo .front
				
						{
							transform: rotateY(180deg);
				
						}
				.o1 .photo .back
						{
							transform: rotateY(0deg);
				
						}
						.o1 .photo:hover .back 
						{
							transform: rotateY(180deg);
						}
						.o1 .photo:hover .front 
						{
							transform: rotateY(0deg);
						}
						.o2 .photo{

							height: 150px;
							width:100%;
							background: white;
							position: relative;
							overflow: hidden;
							
						}
						.o2 .photo .front{
							height: 150px;
									width: 100%;
									background: #25cdff;
									position: absolute;
									
									transition: 1s;
									backface-visibility: hidden;
						}
						.o2 .photo .back{
							height: 150px;
									width: 100%;
									background: pink;
									position: absolute;
									
									transition: 1s;
									backface-visibility: hidden;
						}
						.o2 .photo .front
						
								{
									transform: rotateY(180deg);
						
								}
						.o2 .photo .back
								{
									transform: rotateY(0deg);
						
								}
								.o2 .photo:hover .back 
								{
									transform: rotateY(180deg);
								}
								.o2 .photo:hover .front 
								{
									transform: rotateY(0deg);
								}
								.o3 .photo{

									height: 150px;
									width:100%;
									background: white;
									position: relative;
									overflow: hidden;
									
								}
								.o3 .photo .front{
									height: 150px;
											width: 100%;
											background: #25cdff;
											position: absolute;
											
											transition: 1s;
											backface-visibility: hidden;
								}
								.o3 .photo .back{
									height: 150px;
											width: 100%;
											background: pink;
											position: absolute;
											
											transition: 1s;
											backface-visibility: hidden;
								}
								.o3 .photo .front
								
										{
											transform: rotateY(180deg);
								
										}
								.o3 .photo .back
										{
											transform: rotateY(0deg);
								
										}
								.o3 .photo:hover .back 
										{
											transform: rotateY(180deg);
										}
								.o3 .photo:hover .front 
										{
											transform: rotateY(0deg);
										}
										.o4 .photo{

											height: 150px;
											width:100%;
											background: white;
											position: relative;
											overflow: hidden;
											
										}
										.o4 .photo .front{
											height: 150px;
													width: 100%;
													background: #25cdff;
													position: absolute;
													
													transition: 1s;
													backface-visibility: hidden;
										}
										.o4 .photo .back{
											height: 150px;
													width: 100%;
													background: pink;
													position: absolute;
													
													transition: 1s;
													backface-visibility: hidden;
										}
										.o4 .photo .front
										
												{
													transform: rotateY(180deg);
										
												}
										.o4 .photo .back
												{
													transform: rotateY(0deg);
										
												}
												.o4 .photo:hover .back 
												{
													transform: rotateY(180deg);
												}
												.o4 .photo:hover .front 
												{
													transform: rotateY(0deg);
												}
 .lable{

	height: 50px;
	width:100%;
	background: #fff;
}

.lable .btn3 button{

	margin-top: 7px;
	margin-left: 26px;
	padding: 10px;
	background: #25ffcd;
	border: none;
	cursor: pointer;
	transition: 1s;
	position: relative;
}
.lable .btn3 button::before{
	content: '';
	position: absolute;
	border:#25ffcd solid 4px;
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .3s;

}
.lable .btn3 button:hover:before{
	top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}
.con .con1 .j2{

	height: 200px;
	width: 150px;
	background:#FFF;
	margin-top: 50px;
	margin-left: 20px;
	box-shadow: 0 0 30px black;

}
.con .con1 .j3{

	height: 200px;
	width: 150px;
	background:#fff;
	margin-top: 50px;
	box-shadow: 0 0 30px black;
	margin-left: 20px;

}
.con .con1 .j4{

	height: 200px;
	width: 150px;
	background:#fff;
	margin-top: 50px;
	box-shadow: 0 0 30px black;
	margin-left: 20px;

}
.con .con2{

	height: 300px ;
	background:#fff;
	display: flex;

}
.con .con2 .o1{

	height: 200px;
	width: 150px;
	background: #fff;
	margin-left:25% ;
	margin-top: 25px;
	box-shadow: 0 0 30px black;
}
.con .con2 .o2{

	height: 200px;
	width: 150px;
	background:#fff;
	margin-top: 25px;
	margin-left: 20px;
	box-shadow: 0 0 30px black;

}
.con .con2 .o3{

	height: 200px;
	width: 150px;
	background:#fff;
	box-shadow: 0 0 30px black;
	margin-top: 25px;
	
	margin-left: 20px;

}
.con .con2 .o4{

	height: 200px;
	width: 150px;
	background: #fff;
	margin-top: 25px;
	margin-left: 20px;
	box-shadow: 0 0 30px black;

}

.blank{

	height: 500px;
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/banner3.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	line-height: 500px;
}
.blank .a1 h1{

	font-size: 50px;
	color: #25cdff;
}
.blank .a1 span{

	color: black;
}
.gun{

	height: 150px;
	background: white;
	display: flex;
}
.gun .gun1{

	height: 150px;
	width: 25%;
	background: ;
	display: flex;
}
.gun .gun2{

	height: 150px;
	width: 25%;
	background: #fff;
	display: flex;
}
.gun .gun3{

	height: 150px;
	width: 25%;
	background:#fff;
	display: flex;
}
.gun .gun4{

	height: 150px;
	width: 25%;
	background: #fff;
	display: flex;
}
.gun  i{

	color: white;
	font-size: 20px;
	margin-top: 40px;
	margin-left: 30px;
	padding: 15px;
	height: 50px;
	width: 50px;
	background:black;
	position: relative;
	transform: perspective(1px) translateZ(0);
	overflow: hidden;

}
.gun i::before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:#2fdab8;
	transition: .3s;
	transform: scale(0);
}
.gun :hover:before{

	transform: scale(2);
}
.gun .f1{

	font-size: 15px;
	margin-left: 40px;
	margin-top: 45px;
}


@keyframes dq1{

	0%{transform: scale(0);}
	50%{transform: scale(1.3);}
	

}

.gun  i:hover .gun .gun1 .truck i{


} 

.footer{

height: 500px;
width: 100%;
background: black;
display: flex;

}
.footer .d1{

	height: 500px;
	width: 25%;
	background:black;
}
.footer .d1 .h1t h1{

	color: white;
	margin-left:40px;
	margin-top: 100px;
}
.footer .d1 .h1t span{

	
	background:rgb(19, 255, 227);
	color: white;
	padding: 5px;

}
.footer .d1 .letter{

	color: darkgray;
	font-size: 15px;
	margin-left: 40px;
	margin-top: 40px;
	padding: 10px;
}
.footer .d1 .s1{

	display: flex;
	margin-left: 30px;
	margin-top: 40px;
	

}
.s1 i{
	height: 30px;
	width:30px;
	background: #c32aa3;
	font-size: 20px;
	margin-left: 20px;
	padding: 6px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}

.footer .d2{

	height: 500px;
	width: 25%;
	background:black;
}
.footer .d2 .h2t h2{

	color: #fff;
	margin-top: 100px;
	margin-left: 50px;


}
.list4 ul{

	margin-left: 50px;
}
.list4 ul li{

	list-style: none;
	margin: 30px;

}
.list4 ul li a{
	color: #ccc;
	text-decoration: none;
	font-size: 20px;
	transition: 1s;
}
.list4 ul li a:hover{

	color: #25ffcd;
}
.footer .d3{

	height: 500px;
	width: 25%;
	background: black;
}
.footer .d3 .stor{

	color:#fff;
	margin-top: 100px;
	margin-left: 50px;

}
.footer .d3 .nm{

	height: 250px;
	width: 300px;
	background: black;
	margin-top: 40px;
	margin-left: 18px;

}
.nm .n1{

	height: 83.3px;
	background:gray;
	opacity: 20%;
	border-radius: 30px;
	
}



.n1.pho i,span{

	color:#fff;
	font-size: 30px;
	margin: 10px;
}

.nm .n2{

	height: 83.3px;
	background:gray;
	margin-top: 10px;
	opacity: 20%;
	border-radius: 30px;
}
.n2.eg i,span{

	color:#fff;
	font-size: 30px;
	margin: 10px;
	
}
.nm .n3{

	height: 83.3px;
	background:gray;
	margin-top: 20px;
	opacity: 20%;
	border-radius: 30px;
}
.n3.ef i,span{

	color:#fff;
	font-size: 30px;
	margin: 30px;
}
.pho,.eg,.ef{

	margin-left: 20px;
	margin-top: 40px;
}
.nu1,.eml,.adf{

	font-size: 20px;
	color: #fff;
	margin-left: 60px;
	margin-top: 15px;
}
.footer .d4{

	height: 500px;
	width: 25%;
	background:black;
}
.footer .d4 .gi  h2{

	color: #fff;
	margin-top: 100px;
	margin-left: 50px;
}
.footer .d4 .ma{

	height: 300px;
	width: 300px;
	margin-left: 20px;
	margin-top: 30px;
	background: ;
}
.footer .d4 .ma .r1{

	height: 100px;
	
	background: ;
	display: flex;
}
.footer .d4 .r1 .b1{

	height: 100px;
	width: 33.33%;
	background: url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/t1.jpg);
	background-size: cover;
}
.footer .d4 .r1 .b2{

	height: 100px;
	width: 33.33%;
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/t2.jpg);
	background-size: cover;
	margin-left: 10px;
}
.footer .d4 .r1 .b3{

	height: 100px;
	width: 33.33%;
	background: url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/t1.jpg);
	background-size: cover;
margin-left: 10px;
	
}
.footer .d4 .ma .r2{

	height: 100px;
	
	background: ;
	display: flex;
	margin-top: 10px;
}
.footer .d4 .r2 .w1{

	height: 100px;
	width: 33.33%;
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/t2.jpg);
	background-size: cover;
}
.footer .d4 .r2 .w2{

	height: 100px;
	width: 33.33%;
	background: url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/t1.jpg);
	background-size: cover;
	margin-left: 10px;
}
.footer .d4 .r2 .w3{

	height: 100px;
	width: 33.33%;
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/t2.jpg);
	background-size: cover;

	margin-left: 10px;
}
.footer .d4 .ma .r3{

	height: 100px;
	margin-top: 10px;
	
	background: ;
	display: flex;
}
.footer .d4 .r3 .x1{

	height: 100px;
	width: 33.33%;
	background: url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/t1.jpg);
	background-size: cover;
}
.footer .d4 .r3 .x2{

	height: 100px;
	width: 33.33%;
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/t2.jpg);
	background-size: cover;
	margin-left: 10px;
}
.footer .d4 .r3 .x3{

	height: 100px;
	width: 33.33%;
	background:url(https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/t2.jpg);
	background-size: cover;
	margin-left: 10px;
}
.sdf{

	height: 100px;
	background: black;
	display: flex;
	/* border: 1px solid white; */

}
.sdf .sd1{

	height: 100px;
	width: 50%;
	background: ;
	text-align: center;
	line-height: 100px;
	color: white;
}
.sdf .sd2 .sp input[type=text]{

	color: #25ffcd;
	box-sizing: border-box;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(28, 20, 20);
  outline: none;
  padding: 3px;
  margin-left: 30%;
  margin-top: 40px;

}
.sdf .sd2 .sp button{

	font-size: 20px;
	background:#25cdff;
	border: none;
	padding: 6px;
	margin-left: 10px;
}
.sdf .sd2{

	height: 100px;
	width: 50%;
	background:;
	
}
.copy{

	height:200px;
	width: 100%;
	background:black;
	text-align: center;
	line-height: 200px;
}
.cpy{

	color: #ccc;

}
.cpy b{

	color: #fff;
}
/* .end{

	background: linear-gradient(black,white);
}
.end h1{

	color: beige;
	font-variant-ligatures: contextual;
	animation: h01 2s linear infinite;
}

@keyframes h01 {
	
	0%{transform:scaleX(0) ;}
	25%{transform: scaleX(.5);color: red }
	50%{transform: scaleX(.8);color:blue;}
	75%{transform: scaleX(.9);color:yellow;}
	100%{transform: scaleX(1.3);color:pink;}
} */
